.main_title {
  font-family: "RIDIBatang";
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-top: 150px;
  margin-bottom: 20px;
}

.main_title hr {
  margin: auto;
}

.main_title p {
  margin-bottom: 20px;
}

#BestwineList {
  width: 1320px;
  margin: 0 auto;
}

#BestwineList .wine-item {
  width: 420px;
  margin: 10px;
  text-align: center;
  float: left;
}

.wine-img {
  width: 420px;
  height: 420px;
}

.wine-name {
  font-size: 14px;
  margin-top: 10px;
  text-align: left;
  font-family: "RIDIBatang";
  line-height:150%;
}

.wine-name a:first-child {
  font-weight: normal;
  color: #212121;
  font-size: 17px;
  
}

a {
  text-decoration-line: none;
}
.for_fig a{
  display: block;
  width: 420px;
  height: 420px;

  overflow: hidden;
  position: relative;

}
.wine-item figcaption{
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.7);

  position: absolute; /* 이미지와 겹치게 처리 */
  top: 0; left: 0;

  color: #fff; text-align: center;
  line-height: 400px;

  opacity: 0; /*처음엔 안보이고 */

  transition: 0.4s;
}
.wine-item a:hover figcaption, .wine-item a:focus figcaption{
  /* 마우스를 올리면 보이게 처리 */
  opacity: 0.8;
}
