*{
  margin:0;
  padding: 0;
}

ul{
  list-style-type:none;
}

.clear{
  clear:both;
}

#side_current_cart{
  width: 1900px;
  height: auto;
  margin: 0 auto;
  font-family: "RIDIBatang";
}

body #current_cart_item{
  /* position: relative; */
  margin: auto;
  margin-left: 0;
  width: 900px;
  /* border: solid 1px red; */
  font-family: 'RIDIBatang';
  font-size: 16px;
  text-decoration: none;
  color:#000000;
  overflow:hidden;
  float: left;
  /* vertical-align: middle; */
  margin-left: 7%;
  margin-top: 70px;
  padding-bottom: 150px;

}

body #current_cart_item #current_item{
  /* margin: 20px 0px; */
  font-size: 20px;
  font-weight: bold;
  margin: 0 auto;
  padding-bottom: 15px;
  width: 900px;
  border-bottom:solid 3px #a1a1a1;
}

.current_item_list{
  /* border: solid 1px red; */
  border-bottom: solid 1px rgb(200, 200, 200);
  overflow: auto;
}

.current_item_list ul li{
  /* border: solid 1px red; */
  float: left;
  margin: 5px;
  color: #3f3f3f;

}

.current_item_list img{
  border: solid 1px #a1a1a1;
  margin: 0 auto;
  height:150px;
  width: 150px;
  margin: 20px 0px;
}

.current_item_list #item_name{
  /* border: solid 1px red; */
  margin-top: 85px;
  margin-left: 25px;
  width: 300px;
  height: 90px;
}

.current_item_list ul li #pay{
  border-collapse: collapse;
  width: auto;
  margin-top: 70px;
  margin-left: 20px;
}

table#pay td{
  font-size: 13px;
  text-align: center;
  border: solid 1px rgb(200, 200, 200);
  padding:5px 10px
}

.current_item_list ul li #money{
  /* border: solid 1px red; */
  border-collapse: collapse;
  width: 250px;
  margin-top: 85px;
  margin-left: 10px;
}
table#money tr td:first-child{
  border-right: solid 1px rgb(200, 200, 200);
  color: #000000;
  font-size: bold;
}
table#money tr td:nth-child(2){
  border-right: solid 1px rgb(200, 200, 200);
  color: #000000;
  font-size: bold;
}

table#money tr td:nth-child(3){
  color: #ff0000;
  font-size: bold;
}


table#money td{
  font-size: 13px;
  text-align: center;
  /* border: solid 1px rgb(200, 200, 200); */
  padding:5px 10px
}


#sidebar {
  margin-left:300px;
  padding: 0;
}

/*------------cart list table-------------*/

#cartList {
  /* border: solid 1px #d3d3d3; */
  font-family: 'RIDIBatang';
  font-size: 16px;
  text-align: center;
  border-collapse: collapse;
  margin-top: 30px;
  width: 900px;
}

#cartList tr th{
  /* border-top: solid 1px #a1a1a1; */
  border-bottom: solid 1px #e9e9e9;
  padding: 14px 10px;
  background-color: #e9e9e9;
}

#cartList tr td{
  border-bottom: solid 1px #e9e9e9;
  padding: 12px 10px; 
}

#buttons input{
  text-align: center;
  font-family: 'RIDIBatang';
  font-size: 14px;
  border-radius: 5px;
  margin-top: 20px;
  background-color: white;
  border-width: 1.5px;
  border-color: #881824;
  padding: 8px 5px;
}

#buttons input:hover{
  text-align: center;
  font-family: 'RIDIBatang';
  font-size: 14px;
  border-radius: 5px;
  margin-top: 20px;
  background-color: #881824;
  border-width: 1.5px;
  border-color: #881824;
  padding: 8px 5px;
  color: white;
}

#space{
  margin-bottom: 40px;
}
/*------------cart list detail table-------------*/

.listmargin{
  margin-bottom: 40px;
  /* border: solid 1px red; */
}

#addrlist{
  margin-top: 30px;
  border-top: solid 1px #e9e9e9;
  border-bottom: solid 1px #e9e9e9;
  font-family: 'RIDIBatang';
  font-size: 16px;
  border-collapse: collapse;
  width: 900px;
}

#addrlist tr th{
  /* border-bottom: solid 1px #d3d3d3; */
  padding: 14px 10px;
  background-color: #e9e9e9;
  width: 100px;
}

#addrlist tr td{
  border-bottom: solid 1px #e9e9e9;
  padding: 12px 12px; 
}

#cartList tr td a:hover {
  text-decoration: underline;
  text-underline-position:under;
  color: red;
}