@charset "UTF-8";
#main {
	text-align: center;
}

#title {
	height: 70px;
	margin-top: 30px;
}

#box1 {
	display: inline-block;
	text-align: center;
	width: 1200px;
}

#box2 {
	display: inline-block;
	text-align: center;
	width: 1200px;
}

table {
	display: inline-block;
	/* border: 1px solid #444444; */
	border-collapse: collapse;
}

th, td {
	height: 50px;
	/* border: 1px solid #444444; */
}

#box1-1 {
	display: inline-block;
	text-align: center;
	margin-top: 100px;
	width: 700px;
}

#box1-1 img {
	margin: auto;
	max-width: 100%;
	height: auto;
	display: block;
}

#box1-1-text {
	display: inline-block;
	width: 600px;
	height: 200px;
	margin-top: 100px;
}

/* #버튼들 버튼 담은 div임 */
#button {
	margin-bottom:50px;

}

#btn2 {
	margin-top: 50px;
}

#button button {
	padding: 3px 30px;
}

#btn3 button {
	padding: 3px 30px;
}

.td1{
	 width: 200px; 
	 background-color:#f4f4f4;
}
.td2{
	width:800px;
	 text-align:left; 
	 padding-left:40px;
}