body::-webkit-scrollbar {
  width: 16px;  /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
  height: 10%; /* 스크롤바의 길이 */
  background: #fa7b7b; /* 스크롤바의 색상 */
  
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
}