* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: #444444;
}

#wineselect_result {
    animation: fadein 3s;
    -moz-animation: fadein 3s;
    /* Firefox */
    -webkit-animation: fadein 3s;
    /* Safari and Chrome */
    -o-animation: fadein 3s;
    /* Opera */
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {

    /* Firefox */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {

    /* Safari and Chrome */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {

    /* Opera */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


#wineselect_result {
    transition: transform 3s ease-in-out 0s;
    width: 550px;
    height: 1350px;
    margin: 0 auto;
    text-align: center;
    box-shadow: rgba(171, 171, 171, 0.66) 0px 5px 20px;
}

.result_box {
    /* border-radius: 30px; */
    /* width: 600px; */
    margin: 0 auto;
    height: 500px;
    border: none;
    background-color: #f23715;
    box-shadow: rgb(242 55 21 / 34%) 0px 5px 20px;
}

.result {
    font-size: 40px;
    font-weight: bold;
    padding: 36% 0;
    text-align: center;
    color: #fff;
}

#result_content {
    margin-top: 50px;
}

.title_text li:nth-child(1) {
    color: #444444;
    font-weight: bold;
}

.title_text li:nth-child(2) {
    margin-top: 10px;
    color: #f23715;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 20px;
}

.title_text li:nth-child(3) {
    border-bottom: solid 5px #f236155f;
    width: 40px;
    margin: 0 auto;
}

.text {
    width: 480px;
    margin: 0 auto 60px auto;
}

.text li:nth-child(1) {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.text li:nth-child(2) {
    font-size: 15px;
    text-align: left;
}

img {
    margin-top: 20px;
    width: 350px;
    height: 350px;
}

.wineselect_box2 button {
    background: rgb(242, 55, 21);
    box-shadow: rgb(242 55 21 / 34%) 0px 5px 20px;
    transition: transform 0.2s ease-in-out 0s, background-color 0.2s ease 0s, opacity 0.2s ease 0s;
    min-height: 50px;
    width: 350px;
    margin-bottom: 20px;
    border: 0;
    outline: 0;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
}

.wineselect_box2 button:hover {
    background-color: #fff;
    color: #444444;
}

#wineselect_box span{
    position: relative;
    color: #ccc;
    font-size: small;
    float: right;
    bottom: 22px;
    right: 170px;
}
.wineselect_box2 button {
    background: rgb(242, 55, 21);
    box-shadow: rgb(242 55 21 / 34%) 0px 5px 20px;
    transition: transform 0.2s ease-in-out 0s, background-color 0.2s ease 0s, opacity 0.2s ease 0s;
    min-height: 50px;
    width: 350px;
    margin-bottom: 20px;
    border: 0;
    outline: 0;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
}

.wineselect_box2 button:hover {
    background-color: #fff;
    color: #444444;
}