<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wine.mapper.WorkerMapper">

<!-- 로그인 -->
<select id="adminlogin" resultType="com.wine.model.WorkerVO">
	select * from worker where id = #{id} and pwd = #{pwd}
</select>

</mapper>